@import 'tailwindcss';

@utility interpolate-keywords {
  interpolate-size: allow-keywords;
}

@layer base {
  html {
    @apply scroll-smooth select-none interpolate-keywords;
  }

  body {
    @apply h-screen w-screen overflow-hidden bg-slate-900 text-sm text-gray-300 lg:text-base/6;
  }

  #__nuxt {
    @apply flex h-full w-full flex-col overflow-hidden;
  }

  window {
    @apply flex flex-col gap-2 rounded-lg bg-slate-700 px-4 py-3 transition-opacity 2xl:gap-4;
  }

  label {
    @apply -mb-0.5 flex-1 leading-none 2xl:-my-2;
  }

  a {
    @apply text-gray-300 underline underline-offset-1 transition-colors hover:text-gray-400;
  }

  button {
    @apply flex cursor-pointer appearance-none items-center justify-center gap-x-2 rounded-lg border-1 border-gray-300 bg-slate-800 px-4 py-2.5 text-sm leading-none transition select-none 2xl:px-5 2xl:py-3 2xl:text-base;
  }

  button.small {
    @apply size-8 rounded-md p-0;
  }

  button.smallest {
    @apply size-6 rounded-md p-0;
  }

  button.alt {
    @apply border-transparent bg-gray-300 text-slate-800;
  }

  button.transparent {
    @apply border-transparent bg-transparent;
  }

  button:hover {
    @apply border-gray-300/50 bg-slate-800/50 text-white;
  }

  button.alt:hover {
    @apply border-transparent bg-gray-300/50 text-slate-300;
  }

  button.transparent:hover {
    @apply border-transparent bg-slate-800/50;
  }

  button > svg,
  button > span {
    @apply pointer-events-none;
  }

  button:active > svg,
  button:active > span {
    @apply translate-[1px];
  }

  button:focus-visible {
    @apply outline-1 outline-gray-300;
  }

  button[disabled] {
    @apply pointer-events-none text-gray-300/50;
  }

  input {
    @apply w-full appearance-none rounded-lg bg-gray-300 px-4 py-2.5 text-sm leading-none text-slate-800 transition-colors 2xl:px-5 2xl:py-3 2xl:text-base;
  }

  input::placeholder {
    @apply text-slate-800/50;
  }

  button.alt:disabled,
  input:disabled {
    @apply bg-gray-300/50 text-slate-800;
  }

  input:focus-visible {
    @apply outline-1 outline-slate-200;
  }

  input.invalid:user-invalid {
    @apply bg-red-500 text-gray-300;
  }

  input.invalid:user-invalid::placeholder {
    @apply text-gray-300/50;
  }

  checkbox {
    @apply relative size-4 border border-white
  }

  checkbox::before,
  checkbox::after {
    @apply absolute w-[1px] h-[150%] bg-white left-1/2 -translate-x-1/2 -translate-y-1/5 origin-center -rotate-45
  }

  checkbox::after {
    @apply !rotate-45
  }

  checkbox.active::before,
  checkbox.active::after {
    @apply content-[''];
  }

  checkbox+label {
    @apply pl-2 leading-4
  }

  listbox {
    @apply relative cursor-pointer rounded-lg border-1 border-gray-300 bg-slate-800 transition-all select-none;
  }

  listbox[disabled='true'] {
    @apply pointer-events-none border-gray-300/50 text-gray-300/50;
  }

  listbox:hover,
  listbox.active {
    @apply border-gray-300/50;
  }

  listbox:focus-visible {
    @apply outline-1 outline-gray-300;
  }

  listbox.active {
    @apply text-gray-300;
  }

  listboxmenu {
    @apply pointer-events-none absolute z-10 -mx-[1px] -mb-[1px] flex w-max flex-col rounded-lg border-1 border-[inherit] bg-[inherit] opacity-0 transition-opacity overflow-y-auto;
  }

  listbox.right listboxmenu {
    @apply right-0;
  }

  listbox.upsideDown listboxmenu {
    @apply bottom-full -mt-[1px] mb-0;
  }

  listbox.active listboxmenu {
    @apply pointer-events-auto opacity-100;
  }

  listboxplaceholder,
  listboxoption {
    @apply flex h-full items-center justify-between gap-4 px-4 py-2.5 text-sm leading-none transition-colors 2xl:px-5 2xl:py-3 2xl:text-base;
  }

  listboxplaceholder>span {
    @apply inline-block w-full;
  }

  listboxplaceholder:after {
    @apply inline-block scale-y-50 content-['v'];
  }

  listboxoption>span {
    @apply text-gray-300 transition-colors pointer-events-none;
  }

  listboxoption.hover>span {
    @apply text-gray-300/50;
  }

  listboxoption[disabled='true']>span {
    @apply pointer-events-none text-gray-300/50;
  }

  listboxplaceholder {
    @apply pointer-events-none;
  }
}
